# Prerequisites
*.d
.DS_Store

# Clangd File
.cache

# Compiled Object files
*.slo
*.lo
*.o
*.o.*
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LLVM files
*.bc

# CMake temp files
Makefile
!examples/**/Makefile
!examples/Makefile
CMakeCache.txt
*.cmake

# Log files
*.log

# exclude folders
/cuda-12.1/**
/build/**
/runtime/threadPool/include/
/include/

.vscode

# Build intermediates
*.ll
*.ii
*.cubin
*.s
*.cui
*.dump
*.ch*
*.elf
*.vxbin
*.fatbin
kernel_wrapper.cpp
kernel_meta.log
lookup.txt
lookup_global_symbols.txt
ci_output.txt
ci_status_*.txt
Perf_counter_*.txt

# Other CUDA header files
cuda-header.tar.gz
cuda_12.1.1_530.30.02_linux.run
